@import "tailwindcss";

@layer base {
  html, body {
    touch-action: manipulation;
    overscroll-behavior: none;
  }

  canvas {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
}
